* {
  margin: 0;
  padding: 0;
  transition: 0.6s ease-in-out;
  font-family: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final,
    Segoe UI, "Segoe UI Web (West European)", Segoe, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica, Arial,
    sans-serif !important;
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

:root {
  --ms-black: #000;
  --ms-main-blue-light: #2564cf;
  --ms-main-white: #fff;
  --ms-hover-color-light: #005a9e;
  --ms-hover-gray-light: #f5f5f5;
  --ms-hover-blue-light: rgb(0, 90, 158);
  --ms-drag-line-gray: #edebeb;
  --ms-main-bg-light: #faf9f8;
  --ms-bg-shadow: rgba(0, 0, 0, 0.1);
  --ms-button-gray: #888;
  --ms-button-hover: #e1dfd7;
  --ms-tips-gray: #605e5c;
}

body {
  overflow: hidden;
}
